@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    background: url(../img/1.png) top center no-repeat, url(../img/2.png) center bottom 165px no-repeat, url(../img/background.png) center center no-repeat;
    /* position: relative; */
}

a {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.hero {
    position: relative;
    height: 775px;
}

.hero__header {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    height: 150px;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1141px;
}

.header__main-title {
    position: relative;
    height: 124px;
}

.logo {
    position: absolute;
    top: 27px;
    left: 0;
}

.menu {
    position: absolute;
    width: 275px;
    height: 19px;
    left: 162px;
    top: 42px;
    font-size: 14px;
}

.contacts__dropdown-title,
.contacts {
    position: absolute;
    right: 0;
}

.contacts__dropdown-title {
    font-size: 14px;
    line-height: 20px;
}

.contacts {
    width: 191px;
    height: 55px;
    text-align: right;
}

.contacts__header {
    top: 27px;
}

.header__content {
    position: relative;
    height: 333px;
    top: 46px;
}

.header__title {
    position: relative;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 511px;
}

.header__subtitle {
    position: absolute;
    width: 196px;
    height: 20px;
    top: 225px;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

.btn {
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
}

.detailed-btn {
    width: 168px;
    background: #F5170E;
    color: white;
}

.header__btn {
    position: absolute;
    top: 278px;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
    font-size: 14px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.menu__list {
    margin: 0;
    padding: 0;
}

.contacts__phone,
.menu__link {
    text-decoration: none;
}

.menu__link {
    margin-right: 50px;
}

.menu__link_last {
    margin-right: 0;
}

.menu__link:hover,
.contacts__dropdown-title {
    text-decoration: underline;
}

.contacts {
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
}

.contacts__dropdown-title {
    top: 31px;
}

.page-content {
    position: relative;
}

.section {
    position: relative;
    width: 1141px;
}

.section-page {
    margin: 0 auto 127px;
}

.section__title,
.section__img {
    display: inline-block;
}

.common-title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 51px;
}

.section__title {
    margin-right: 12px;
}

.hot-tours,
.news__list {
    position: relative;
    font-size: 0;
}

.tours__item {
    position: relative;
    display: inline-block;
    margin-right: 27px;
    width: 362px;
    font-size: 14px;
}

.tours__item:last-child {
    margin-right: 0px;
}

.hot-tours__header {
    height: 144px;
    border-radius: 5px 5px 0px 0px;
}

.hot-tours__content {
    position: relative;
    left: 20px;
    border-radius: 0px 0px 5px 5px;

}

.hot-tours__container {
    background: #FFFFFF;
}

.hot-tours__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding: 33px 0px 20px;
    color: #000000;
}

.tours,
.tours__img,
.tours__text {
    display: inline-block;
}

.tours {
    margin: 0 28px 0 3px;
    vertical-align: middle;
}

.tours__text {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #666666;
    padding-left: 10px;
    line-height: 22px;
}

.tours__content-text {
    position: relative;
    width: 324px;
    height: 63px;
    margin: 20px 0 25px;
    color: #303030;
    line-height: 21px;
    font-size: 14px;
}

.look-btn {
    display: inline-block;
    border: 1px solid #F5170E;
    width: 135px;
    background: white;
    color: #F5170E;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 26px;
}

.look-btn_active {
    background: #F5170E;
    color: #FFFFFF;
}

.news__list {
    margin-bottom: 58px;
}

.news__item {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    width: 557px;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.news__item:last-child {
    margin-right: 0;
}

.news-content__img {
    object-fit: cover;
}

.news-content {
    position: absolute;
    top: 255px;
    left: 26px;
    right: 30px;
    overflow-wrap: break-word;
    display: inline-block;
}

.news-content__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.news-content__text {
    padding: 5px 0 0 2px;
    font-size: 16px;
    line-height: 21px;
}

.news-content__date {
    position: relative;
    line-height: 21px;
    display: block;
    margin-bottom: 12px;
}

.pagination {
    font-size: 16px;
}

.pagination__info {
    width: 403px;
    height: 53px;
    margin: 0 auto;
}

.pagination__text {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    line-height: 20px;
}

.pagination__list,
.pagination__item,
.pagination__link {
    display: inline-block;
}


.pagination__link,
.pagination__item_active {
    line-height: 32px;
    text-align: center;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}

.pagination__item_active,
.pagination__item:hover {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 50%;
}

.section-about {
    margin: 0 auto 68px;
}

.about__list {
    position: relative;
    height: 552px;
    font-size: 0%;
}

.about__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.about__img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.about__img1 {
    position: relative;
    left: 0;
    top: 0;
}

.section-news {
    margin: 0 auto 124px;
}

.about__title {
    position: absolute;
    top: 167px;
    left: 435px;
}

.about__title_text {
    font-size: 36px;
    margin-bottom: 37px;
    color: #000000;
}

.about__text {
    width: 500px;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 28px;
    color: #060606;
}

.about__button {
    position: absolute;
    left: 435px;
    top: 435px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
}

.footer-section {
    position: relative;
    height: 150px;
    margin: 0 auto;
    max-width: 1920px;
}

.footer {
    position: relative;
    height: 93px;
    border-top: 4px solid rgba(255, 255, 255, 0.1);
}

.contacts__updown-title {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.contacts__footer {
    top: 25px;
}

.messangers {
    position: absolute;
    width: 190px;
    left: 690px;
    top: 35px;
}

.messamgers__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.messamgers__item:last-child {
    margin-right: 0;
}

.messangers__link {
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.messangers__link_telegram {
    background: url(../img/messangers/telegram.png) center center no-repeat;
}

.messangers__link_vk {
    background: url(../img/messangers/vk.png) center center no-repeat;
}

.messangers__link_facebook {
    background: url(../img/messangers/f.png)center center no-repeat;
}

.messangers__link_instagram {
    background: url(../img/messangers/in.png) center center no-repeat;
}