@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    min-width: 1920px;
    background: url(../img/1.png) top center no-repeat, url(../img/2.png) center bottom 165px no-repeat;
    background-color: #001821;
}

/* .main-page-wrapper {
    background: url(../img/1.png) top center no-repeat, url(../img/2.png) center bottom 165px no-repeat;
    background-color: #001821;
} */

.wrapper-content {
    flex: 1;
}

a {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.hero {
    min-height: 775px;
}

.hero__header {
    margin-bottom:73px;
    /* max-width: 1920px; */
    height: 124px;
}

.container {
    margin: 0 auto;
    max-width: 1141px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header__main-title {
    height: 124px;
    padding-top: 26px;
}

.title__left, .title__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    /* margin-top: 2px; */
    margin-right: 79px;
    padding-bottom: 15px;
}

.menu {
    width: 264px;
    height: 19px;
    padding-bottom: 36px;
}

.contacts__phone,
.menu__link {
    text-decoration: none;
}

.menu__link:hover,
.contacts__dropdown-title {
    text-decoration: underline;
}

.contacts__dropdown-title {
    font-size: 13px;
    line-height: 20px;
    margin: -12px 2px 0;
}

.contacts {
    width: 191px;
    height: 55px;
    text-align: right;
    font-style: normal;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
}

.contacts__phone {
    font-size: 26px;
}

.hero-content {
    min-height: 333px;
}

.hero-content__container {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 45%;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 33px;
}

.menu__item {
    /* display: inline-block;
    vertical-align: middle; */
    /* margin-right: 50px; */
    font-size: 14px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__list {
    /* margin: 0;
    padding: 0; */
    font-size: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;

}

.btn {
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 55px;
}

.btn__detailed {
    width: 168px;
    background: #F5170E;
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

/* .section {
    position: relative;
    width: 1141px;
} */

.page-content {
    padding-bottom: 203px;
}

.page-content__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.section__title,
.section__img {
    display: inline-block;
}

.section__img {
    width: 21px;
    height: 28px;
}

.common-title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 51px;
}

.section__title {
    margin-right: 8px;
    margin-left: 3px;
}

.hot-tours{
    margin-bottom: 117px;
}
.hot-tours__list,
.news__list {
    font-size: 0;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tours__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-right: 27px;
    min-width: 362px;
    font-size: 14px;
}

.tours__item:last-child {
    margin-right: 0px;
}

.hot-tours__header {
    height: 144px;
    border-radius: 5px 5px 0px 0px;
}

.hot-tours__container {
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
}

.hot-tours__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 22px;
}
.hot-tours__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding: 33px 22px 21px;
    color: #000000;
}

.hot-tours__period{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.tours__img,
.tours__text {
    display: inline-block;
}
.hot-tours__icons-meal{
    padding-left: 25px;
}
.tours {
    margin: 0px 0 20px 5px;
}

.tours__text {
    font-size: 16px;
    vertical-align: top;
    color: #666666;
    padding-left: 8px;
    line-height: 26px
}

.tours__content-text {
    width: 324px;
    margin: 0 0 25px;
    color: #303030;
    line-height: 21px;
    font-size: 14px;
}

.btn__look {
    display: inline-block;
    border: 1px solid #F5170E;
    width: 135px;
    color: #F5170E;
    margin-bottom: 25px;
}

.btn__look_active {
    background: #F5170E;
    color: #FFFFFF;
}

.news__list {
    margin-bottom: 53px;
}

.news__item {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    width: 557px;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.news__item:last-child {
    margin-right: 0;
}

.news-content__img {
    object-fit: cover;
}

.news-content {
    position: absolute;
    top: 255px;
    left: 26px;
    right: 30px;
    overflow-wrap: break-word;
    display: inline-block;
}

.news-content__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.news-content__text {
    font-size: 16px;
    line-height: 25px;
}

.news-content__date {
    position: relative;
    line-height: 21px;
    display: block;
    margin-bottom: 12px;
}

/* 
.pagination {
    font-size: 16px;
} */

.pagination__info {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 53px;
    margin: 0 auto;
    align-content: flex-start;
}

.pagination__text {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 5px;
}

.pagination__list,
.pagination__item,
.pagination__link {
    display: inline-block;
}

.pagination__list {
    font-size: 0;
}

.pagination__item {
    font-size: 16px;
}

.pagination__link,
.pagination__item_active {
    line-height: 32px;
    text-align: center;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}

.pagination__item_active,
.pagination__item:hover {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 50%;
}


.about__list {
    position: relative;
    height: 552px;
    font-size: 0%;
}

.about__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.about__img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.about__img1 {
    position: relative;
    left: 0;
    top: 0;
}

.news {
    margin: 0 auto 124px;
}

.about__title {
    position: absolute;
    top: 167px;
    left: 435px;
}

.about__title_text {
    font-size: 36px;
    margin-bottom: 37px;
    color: #000000;
}

.about__text {
    width: 500px;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 26px;
    color: #060606;
}

.about__btn {
    position: absolute;
    left: 435px;
    top: 432px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
}


.footer {
    min-height: 150px;
    margin-top: -150px;
}
.footer__main-title{
    align-items: flex-end;
    height: 93px;
   border-top: 4px solid rgba(255, 255, 255, 0.1);
   margin-top: 9px; 
}
.footer__col{
    /* padding-bottom: 7px; */
    align-items: center;
}


.contacts__updown-title {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.contacts__footer {
    top: 25px;
}

.messangers {
    width: 190px;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}

.messamgers__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.messamgers__item:last-child {
    margin-right: 0;
}

.messangers__link {
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.messangers__link_telegram {
    background: url(../img/messangers/telegram.png) center center no-repeat;
}

.messangers__link_vk {
    background: url(../img/messangers/vk.png) center center no-repeat;
}

.messangers__link_facebook {
    background: url(../img/messangers/f.png)center center no-repeat;
}

.messangers__link_instagram {
    background: url(../img/messangers/in.png) center center no-repeat;
}