@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    width: 1920px;
    height: 2930px;
    outline: 1px solid black;
    position: relative;
    margin: 0 auto;
    background: url(../img/background.png);
}

a {
    color: inherit;
}

.hero {
    background: url(../img/1.png) top center no-repeat;
    height: 780px;
}

.container {
    position: relative;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 1140px;
    height: 120px;
    left: 390px;
}

.logo {
    position: absolute;
    top: 27px;
    left: 0;
}

.menu {
    position: absolute;
    width: 275px;
    height: 19px;
    left: 156px;
    top: 42px;
    font-size: 14px;
}

.contacts__dropdown-title,
.contacts {
    position: absolute;
    right: 0;
}

.contacts__dropdown-title {
    font-size: 14px;
    line-height: 20px;
}

.contacts {
    width: 191px;
    height: 55px;
    top: 25px;
    text-align: right;
}

.hero__content {
    position: absolute;
    width: 511px;
    height: 333px;
    left: 390px;
    top: 196px;
}

.hero__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
}

.hero__subtitle {
    position: absolute;
    width: 196px;
    height: 20px;
    top: 225px;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

.btn {
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
}

.detailed-btn {
    width: 168px;
    background: #F5170E;
    color: white;
}

.hero__btn {
    position: absolute;
    top: 278px;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
}

.menu__list {
    margin: 0;
    padding: 0;
}

.contacts__phone,
.menu__link {
    text-decoration: none;
}

.menu__link {
    margin-right: 50px;
}

.menu__link_last {
    margin-right: 0;
}

.menu__link:hover,
.contacts__dropdown-title {
    text-decoration: underline;
}

.contacts {
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
}

.contacts__dropdown-title {
    top: 31px;
}

.page-content {
    margin-bottom: 15px;
    position: relative;
}

.section {
    position: relative;
    margin: 0 auto 127px;
    width: 1145px;

}

.section__title,
.section__img {
    display: inline-block;
}

.section__title {
    font-size: 36px;
    line-height: 49px;
    margin-right: 12px;
    margin-bottom: 51px;
}

.hot-tours {
    position: relative;
}

.tours__item {
    position: relative;
    display: inline-block;
    margin-right: 23px;
    width: 362px;
}

.tours__icon {
    margin-bottom: 24px;
}

.tours__item:last-child {
    margin-right: 0px;
}

.hot-tours__header {
    height: 144px;
    border-radius: 5px 5px 0px 0px;
}

.hot-tours__content {
    position: relative;
    left: 20px;
    border-radius: 0px 0px 5px 5px;
}

.hot-tours__container {
    background: #FFFFFF;
}

.hot-tours__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding: 30px 0px 20px;
    color: #000000;
}

.tours,
.tours__img,
.tours__text {
    display: inline-block;
}

.tours {
    margin: 0 28px 0 3px;
}

.tours__img {
    margin-right: 10px;
}

.tours__text {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #666666;
}

.tours__content-text {
    position: relative;
    width: 324px;
    height: 63px;
    margin: 24px 0 22px;
    color: #303030;
    line-height: 21px;
    font-size: 14px;
}

.look-btn {
    display: inline-block;
    border: 1px solid #F5170E;
    width: 135px;
    background: white;
    color: #F5170E;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 26px;
}

.look-btn_active {
    background: #F5170E;
    color: #FFFFFF;
}





.footer-contacts {
    top: 2850px;
}

.footer-logo {
    top: 2829px;
}

.footer-menu {
    top: 2829px;
}