
.btn {
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 55px;
    transition: color 1s;
}

.btn:hover{
    background: #DA0100;
    color: white;
}

.btn__detailed {
    width: 168px;
    background: #F5170E;
    color: white;
}

.btn__look {
    display: inline-block;
    border: 1px solid #F5170E;
    width: 135px;
    color: #F5170E;
    margin-top: auto;
}

.btn__look_active {
    background: #F5170E;
    color: #FFFFFF;
}

.btn__controls{
    margin-left: 18px;
    background-color: #2B2B2B;
    padding: 0 40px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 1s;
    border: none;
}

.btn__controls_red{
    background-color: red;
}

.btn__controls:hover{
    background: #8E8E8E;
}

.btn__enter {
    font-size: 14px;
    background: #f5170e;
    padding: 0 58px;
    color: #FFFFFF;
  }