.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  width: 591px;
  background: url(../../../img/greeting/shades.png) bottom 65px center no-repeat;
  padding-top: 40px;
  animation: bounce 2.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  }

.central__title {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 52px;
}

  @keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    animation-timing-function: cubic-bezier(.14,.66,.38,.75);
    transform: translateY(-30px);
  }

  30% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-15px);
  }

  65% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-5px);
  }

  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}