.common-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    width: 100%;
}

.common-title__col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.common-title__reviews{
    margin-top: 4%;
}