.controls{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 20px;
    background: transparent;
}
.controls__elem{
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
    background: red;
}

.controls__checkbox{
    display: none;
}

.controls__item{
    margin-left: 8px;
    margin-bottom: 8px;
}
