.footer {
    margin-top: auto;
}

.footer__theme_black {
    border: none;
    color: #FFFFFF;
    background: #001821;
    min-height: 132px;
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

