.form__row {
  display: flex;
  margin-bottom: 23px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 25px;
  border: none;
}

.form__input:focus {
  border: 1px solid #f5170e;
}

.form__input__textarea {
  height: 232px;
}
.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666666;
}

.form__controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form__controls-title {
  font-size: 18px;
  line-height: 25px;
  color: #1a1b1e;
  width: 38%;
  margin-top: 16px;
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 96px;
}
