.heroMain {
    display: block;
    min-height: 775px;
    background: none;
    padding: 0;
}

.heroMain__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__content {
    min-height: 333px;
    margin-top: 10%;
    padding-left: 1%;
}


.hero__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 33px;
}

.hero__btn{
    display: inline-block;
}