.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin-right: 54px;
    font-size: 14px;
    line-height: 19px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    transition: color 1s;
}
.menu__link:hover {
    color: #DA0100;
    text-decoration: none;
}