.menu {
    width: 264px;
    height: 19px;
    padding-bottom: 36px;
}

.menu__item {
    font-size: 14px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__list {
    padding: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;

}