.page-content {
    min-height: 833px;
    display: flex;
    flex: 1;
}

.page-content__theme_white {
    background: #FFFFFF;
    color: #818181;
}

.page-content__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding-left: 13px;
}

.page-content__list {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 63px;
    height: 100%;
    /* margin-top: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 63px; */
}

.page-content__item {
    display: flex;
    margin-bottom: 50px;
}

.page-content__item:last-child {
    margin-bottom: 0;
}
