.pagination {
    font-size: 16px;
}

.pagination__info {
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 53px;
    margin: 0 auto;
    align-content: flex-start;
}

.pagination__text {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 5px;
}

.pagination__list,
.pagination__item,
.pagination__link {
    display: inline-block;
}

.pagination__list {
    font-size: 0;
}

.pagination__item {
    font-size: 16px;
}

.pagination__link,
.pagination__item_active {
    line-height: 32px;
    text-align: center;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}

.pagination__item_active,
.pagination__item:hover {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 50%;
}   