.partners__container {
    display: flex;
    flex-flow: column wrap;
    min-height: 537px;
}

.pertners__theme_gray {
    color: #1A1B1E;
    background: #F4F5F5;
}

.partners__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.partners__item{
    margin-bottom: 65px;
}


.partners__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    margin: 87px 0 84px 11px;
}

.partners__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 277px;
    height: 70px;
    filter: grayscale(1);
}

.partners__link:hover{
    filter: grayscale(0);
    transition: filter 0.7s;
}