.tours__img {
    width: 40%;
    margin-right: 56px;
}

.tours__icon{
    background-size: cover;
}

.tours__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.tours__content-text {
    width: 324px;
    margin: 0 0 25px;
    color: #303030;
    line-height: 21px;
    font-size: 14px;
}

.tours__subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 30px;
    color: #000000;
    margin-top: 10px;
}

.tours__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 38px;
    color: #303030;
}

.tours__btn {
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-align: center;
    width: 168px;
}

.tours__link:hover .tours__btn {
    background-color: cornflowerblue;
}

.tours__btn_active {
    background: #F5170E;
}

.tours__link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 55px;
    color: #F5170E;
    text-decoration: none;
    text-transform: uppercase;
}

.tours__link_active {
    color: #FFFFFF;
}
