.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #F2F2F2;
    overflow: hidden;
}

.wrapper__review{
    background: #F2F2F2;
}

.wrapper__main {
    overflow: hidden;
    min-height: 100%;
    background: url(../../../img/mainPage/1.png) top center no-repeat, url(../../../img/mainPage/2.png) center bottom 165px no-repeat;
    background-color: #001821;
    flex: 1;
    display: block;
}