/* .common-title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 51px;
} */

.common-title {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

.common-title__col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.common-title__col_right{
    margin-right: 15px;
}