.footer {
    margin-top: auto;
}

.footer__theme_black {
    border: none;
    color: #FFFFFF;
    background: #001821;
    min-height: 132px;
}

/* .footer__col {
    align-items: center;
} */
/* 
.footer__main-title {
    align-items: flex-end;
    height: 93px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 9px;
} */
/* 
.footer__main-title_black{
    border: none;
} */