.tour__img {
    width: 40%;
    margin-right: 5%;
}

.tour__content {
    flex: 1;
}

.tour__subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 6%;
    color: #000000;
}

.tour__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 7%;
    color: #303030;
}

.tour__btn {
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-align: center;
    width: 168px;
}

.tour__link:hover .tour__btn {
    background-color: cornflowerblue;
}

.tour__btn_active {
    background: #F5170E;
}

.tour__link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 55px;
    color: #F5170E;
    text-decoration: none;
    text-transform: uppercase;
}

.tour__link_active {
    color: #FFFFFF;
}
