.hero {
    min-height: 775px;
}

.hero__header {
    margin-bottom:73px;
    height: 124px;
}
.hero__btn{
    display: inline-block;
}
.hero-content {
    min-height: 333px;
}

.hero-content__container {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 45%;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 33px;
}
