.hero {
    min-height: 769px;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__content {
    min-height: 333px;
    margin-top: 10%;
}

.hero__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 45%;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 33px;
}

.hero__btn{
    display: inline-block;
}