.news {
    margin: 0 auto 124px;
}

.news__list {
    font-size: 0;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.news__list {
    margin-bottom: 53px;
}

.news__item {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    width: 557px;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    object-fit: cover;
}

.news__content {
    position: absolute;
    top: 255px;
    left: 26px;
    right: 30px;
    overflow-wrap: break-word;
    display: inline-block;
}

.news__content-subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    padding-left: 2px;
}

.news__content-text {
    font-size: 16px;
    line-height: 25px;
}

.news__content-date {
    position: relative;
    line-height: 21px;
    display: block;
    margin-bottom: 12px;
}