.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title__left, .title__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}