.contacts__dropdown-title {
    font-size: 13px;
    line-height: 20px;
    margin: -12px 2px 0;
    text-decoration: underline;
}

.contacts {
    width: 191px;
    height: 55px;
    text-align: right;
    font-style: normal;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
}

.contacts__phone {
    font-size: 26px;
    text-decoration: none;
}

.contacts__updown-title {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.contacts__footer {
    top: 25px;
}