.header__left, .header__right{
    width: 50%;
}

.header__right{
    text-align: right;
}
.header__main-title {
    position: relative;
    height: 124px;
    padding-top: 26px;
}

.header__content {
    position: relative;
    height: 333px;
}

.header__title {
    position: relative;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 511px;
}

.header__subtitle {
    position: absolute;
    width: 196px;
    height: 20px;
    top: 225px;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

.header__btn {
    position: absolute;
    top: 278px;
    line-height: 55px;
}