.news {
    margin: 0 auto 124px;
}

.news__list {
    position: relative;
    font-size: 0;
    margin-bottom: 58px;
}

.news__item {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    width: 557px;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.news__item:last-child {
    margin-right: 0;
}