.tours {
    margin: 0px 0 20px 5px;
}

.tours__text {
    font-size: 16px;
    vertical-align: top;
    color: #666666;
    padding-left: 8px;
    line-height: 26px
}

.tours__content-text {
    width: 324px;
    margin: 0 0 25px;
    color: #303030;
    line-height: 21px;
    font-size: 14px;
}

.tours__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-right: 27px;
    min-width: 362px;
    font-size: 14px;
}

.tours__item:last-child {
    margin-right: 0px;
}

.tours__img,
.tours__text {
    display: inline-block;
}