.wrapper {
    overflow: hidden;
    min-height: 100%;
    min-width: 1920px;
    background: url(../../img/1.png) top center no-repeat, url(../../img/2.png) center bottom 165px no-repeat;
    background-color: #001821;
}

.wrapper-content {
    flex: 1;
}